discard/.idea/compiler.xml
discard/.idea/copyright/profiles_settings.xml
discard/.idea/encodings.xml
discard/.idea/libraries/library.xml
discard/.idea/misc.xml
discard/.idea/modules.xml
discard/.idea/scopes/scope_settings.xml
discard/.idea/uiDesigner.xml
discard/.idea/vcs.xml
discard/.idea/workspace.xml
*.class
